In [1]:
# Imports modules
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import contextily as ctx
import folium
from pyproj import CRS
from folium.plugins import MarkerCluster
from folium.plugins import FeatureGroupSubGroup

%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
# Reads national park polygon data, Flickd post point data and continent csv file data
national_parks_fp = r"C:\Users\jooel\GISproject\data\WDPA_national_parks.shp"
flickr_fp = r'C:\Users\jooel\GISproject\data\flickr-in-national-parks.gpkg'
continents_fp = r"C:\Users\jooel\GISproject\data\continent.csv"

In [3]:
# Reads national park polygon data
national_parks = gpd.read_file(national_parks_fp, encoding='utf-8')

In [7]:
# Checks the national park data
national_parks.head()

,WDPAID,WDPA_PID,PA_DEF,NAME,ORIG_NAME,DESIG,DESIG_ENG,DESIG_TYPE,IUCN_CAT,INT_CRIT,...,OWN_TYPE,MANG_AUTH,MANG_PLAN,VERIF,METADATAID,SUB_LOC,PARENT_ISO,ISO3,Land_area,geometry
0,20166.0,20166,1,Mbam et Djerem,Mbam et Djerem,Parc national,National Park,National,II,Not Applicable,...,State,State/WCS,Yes,State Verified,1701,CM-AD;CM-ES;CM-CE,CMR,CMR,4316.448,"POLYGON ((12.75027 6.20935, 12.75068 6.20880, ..."
1,1245.0,1245,1,Lobéké,Lobéké,Parc national,National Park,National,II,Not Applicable,...,State,State/WWF,Yes,State Verified,1701,CM-ES,CMR,CMR,2169.021,"POLYGON ((15.61263 2.49408, 15.61426 2.49408, ..."
2,607.0,607,1,Bénoué,Bénoué,Parc national,National Park,National,II,Not Applicable,...,State,State/WWF,Yes,State Verified,1701,CM-NO,CMR,CMR,1993.124,"POLYGON ((13.70366 8.66060, 13.71819 8.65609, ..."
3,606.0,606,1,Bouba Ndjida,Bouba Ndjida,Parc national,National Park,National,II,Not Applicable,...,State,State,Yes,State Verified,1701,CM-NO,CMR,CMR,2129.120,"POLYGON ((14.87231 8.46135, 14.88299 8.45150, ..."
4,1241.0,1241,1,Faro,Faro,Parc national,National Park,National,II,Not Applicable,...,State,State,Yes,State Verified,1701,CM-NO,CMR,CMR,3519.857,"POLYGON ((12.74226 8.47388, 12.73558 8.46035, ..."

In [8]:
# Reads the Flickr post data
flickr_data = gpd.read_file(flickr_fp)

In [18]:
# Checks the Flickr data
flickr_data.head()

,id,title,description,date_taken,date_posted,filename,page_url,photo_url,photo_hash,lat,...,geo_region,geo_country,user_id,user_name,user_realname,user_location,media,media_downloaded,kba_bbox,geometry
0,46131699642,Socorro Trip 2018,,2018-11-28T17:41:09,2018-12-05T01:58:38,46131699642_37f4bae166_m.jpg,,https://farm5.staticflickr.com/4861/4613169964...,None,18.992500,...,,,54091131@N00,W.Worresch,,,None,False,"-140.0000000000,-10.0000000000,-110.0000000000...",POINT (-112.07750 18.99250)
1,31243073717,Socorro Trip 2018,,2018-11-27T16:17:48,2018-12-05T01:58:53,31243073717_7edb315d02_m.jpg,,https://farm5.staticflickr.com/4812/3124307371...,None,18.724444,...,,,54091131@N00,W.Worresch,,,None,False,"-140.0000000000,-10.0000000000,-110.0000000000...",POINT (-110.91722 18.72444)
2,41560051605,20171129-032,,2017-11-29T11:14:40,2018-05-31T01:37:30,41560051605_e26a2265b1_m.jpg,,https://farm2.staticflickr.com/1743/4156005160...,None,19.322105,...,,,7198447@N03,Justin Beevor,,,None,False,"-140.0000000000,-10.0000000000,-110.0000000000...",POINT (-110.81741 19.32211)
3,18562645474,Silvertip shark (Carcharhinus albimarginatus),,2015-06-19T08:46:44,2015-06-26T23:48:10,18562645474_0644d391a2_m.jpg,,https://farm4.staticflickr.com/3928/1856264547...,None,18.999812,...,,,67374204@N00,Elias Levy,,,None,False,"-140.0000000000,-10.0000000000,-110.0000000000...",POINT (-112.06712 18.99981)
4,18562612074,Yellowfin tuna (Thunnus albacares),,2015-06-18T16:21:38,2015-06-26T23:46:35,18562612074_1b5427f789_m.jpg,,https://farm1.staticflickr.com/485/18562612074...,None,18.999812,...,,,67374204@N00,Elias Levy,,,None,False,"-140.0000000000,-10.0000000000,-110.0000000000...",POINT (-112.06712 18.99981)

In [19]:
# Reads the continent information data
continents = pd.read_csv(continents_fp)

In [20]:
# Checks the continent data
continents.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region_remastered,region_bigger,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,Southern Asia,Asia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,Europe,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,Europe,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,Northern Africa,Africa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,Oceania,Oceania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa

In [21]:
# Selects needed columns from the continent data
continents = continents[['alpha-2', 'alpha-3', 'region_remastered', 'region_bigger']]

In [22]:
# Selects needed columns from the national country data
national_parks = national_parks[['NAME','geometry', 'GIS_AREA', 'Land_area', 'PARENT_ISO', 'ISO3']]

In [23]:
# Rename continent data country code column to match national park country code column
continents = continents.rename(columns={"alpha-3" : "ISO3"})

In [26]:
# Change the coordinate systems of national park data and flickr data to match each other
national_parks.to_crs(epsg=4326)
flickr_data_unmerged.crs = national_parks.crs

RuntimeError: b'no arguments in initialization list'

In [26]:
national_parks = pd.merge(national_parks, continents, on='PARENT_ISO')

In [27]:
national_parks.head()

,NAME,geometry,GIS_AREA,Land_area,PARENT_ISO,ISO3,alpha-2,region_remastered,region_bigger
0,Mbam et Djerem,"POLYGON ((12.75027 6.20935, 12.75068 6.20880, ...",4316.447952,4316.448,CMR,CMR,CM,Sub-Saharan Africa,Africa
1,LobÃ©kÃ©,"POLYGON ((15.61263 2.49408, 15.61426 2.49408, ...",2169.020609,2169.021,CMR,CMR,CM,Sub-Saharan Africa,Africa
2,BÃ©nouÃ©,"POLYGON ((13.70366 8.66060, 13.71819 8.65609, ...",1993.124336,1993.124,CMR,CMR,CM,Sub-Saharan Africa,Africa
3,Bouba Ndjida,"POLYGON ((14.87231 8.46135, 14.88299 8.45150, ...",2129.120121,2129.120,CMR,CMR,CM,Sub-Saharan Africa,Africa
4,Faro,"POLYGON ((12.74226 8.47388, 12.73558 8.46035, ...",3519.857478,3519.857,CMR,CMR,CM,Sub-Saharan Africa,Africa

In [29]:
filckr_joined = gpd.sjoin(flickr_data, national_parks, how="inner", op="within")

In [32]:
len(flickr_data)

2346541

In [31]:
len(filckr_joined)

2360646

In [33]:
flickr_joined = filckr_joined

In [34]:
flickr_joined.head()

,id,title,description,date_taken,date_posted,filename,page_url,photo_url,photo_hash,lat,...,geometry,index_right,NAME,GIS_AREA,Land_area,PARENT_ISO,ISO3,alpha-2,region_remastered,region_bigger
0,46131699642,Socorro Trip 2018,,2018-11-28T17:41:09,2018-12-05T01:58:38,46131699642_37f4bae166_m.jpg,,https://farm5.staticflickr.com/4861/4613169964...,None,18.992500,...,POINT (-112.07750 18.99250),2323,Revillagigedo,148835.040328,206.837,MEX,MEX,MX,Latin America and the Caribbean,Latin America and the Caribbean
1,31243073717,Socorro Trip 2018,,2018-11-27T16:17:48,2018-12-05T01:58:53,31243073717_7edb315d02_m.jpg,,https://farm5.staticflickr.com/4812/3124307371...,None,18.724444,...,POINT (-110.91722 18.72444),2323,Revillagigedo,148835.040328,206.837,MEX,MEX,MX,Latin America and the Caribbean,Latin America and the Caribbean
2,41560051605,20171129-032,,2017-11-29T11:14:40,2018-05-31T01:37:30,41560051605_e26a2265b1_m.jpg,,https://farm2.staticflickr.com/1743/4156005160...,None,19.322105,...,POINT (-110.81741 19.32211),2323,Revillagigedo,148835.040328,206.837,MEX,MEX,MX,Latin America and the Caribbean,Latin America and the Caribbean
3,18562645474,Silvertip shark (Carcharhinus albimarginatus),,2015-06-19T08:46:44,2015-06-26T23:48:10,18562645474_0644d391a2_m.jpg,,https://farm4.staticflickr.com/3928/1856264547...,None,18.999812,...,POINT (-112.06712 18.99981),2323,Revillagigedo,148835.040328,206.837,MEX,MEX,MX,Latin America and the Caribbean,Latin America and the Caribbean
4,18562612074,Yellowfin tuna (Thunnus albacares),,2015-06-18T16:21:38,2015-06-26T23:46:35,18562612074_1b5427f789_m.jpg,,https://farm1.staticflickr.com/485/18562612074...,None,18.999812,...,POINT (-112.06712 18.99981),2323,Revillagigedo,148835.040328,206.837,MEX,MEX,MX,Latin America and the Caribbean,Latin America and the Caribbean

In [76]:
outfp_joined = r"C:\Users\jooel\GISproject\data\flickr_joined.csv"
flickr_joined.to_csv(outfp_joined)

In [46]:
flickr_joined_b = flickr_joined[['NAME', 'GIS_AREA', 'Land_area', 'PARENT_ISO', 'region_remastered', 'region_bigger', 'id']]
flickr_grouped = flickr_joined_b.groupby(['NAME', 'GIS_AREA', 'Land_area', 'PARENT_ISO', 'region_remastered', 'region_bigger']).count().reset_index()

In [47]:
flickr_grouped.head(100)

,NAME,GIS_AREA,Land_area,PARENT_ISO,region_remastered,region_bigger,id
0,2000188 Garphyttan,1.103257,1.103,SWE,Europe,Europe,3
1,2000189 Gotska SandÃ¶n,44.472855,38.315,SWE,Europe,Europe,409
2,2000931 Skuleskogen,30.451192,28.454,SWE,Europe,Europe,56
3,2000932 FÃ¤rnebofjÃ¤rden,104.342382,104.342,SWE,Europe,Europe,114
4,2000933 Hamra,13.767222,13.767,SWE,Europe,Europe,58
...,...,...,...,...,...,...,...
95,Ayubia,135.459446,135.459,PAK,Southern Asia,Asia,1
96,Azovo-Sivashskiy,516.658954,470.291,UKR,Europe,Europe,5
97,Azul MeÃ¡mbar,315.411555,315.412,HND,Latin America and the Caribbean,Latin America and the Caribbean,87
98,Ba Be,99.888515,99.889,VNM,South-eastern Asia,Asia,315
99,Ba Vi,119.580867,119.581,VNM,South-eastern Asia,Asia,1674

In [48]:
len(flickr_grouped)

1972

In [49]:
len(national_parks)

2556

In [51]:
flickr_grouped['post_density_total'] = flickr_grouped['id']/flickr_grouped['GIS_AREA']

In [53]:
flickr_grouped['post_density_land'] = flickr_grouped['id']/flickr_grouped['Land_area']

In [ ]:
flickr_grouped = flickr_groups.rename(columns={"id" : "Number_of_posts"})

In [57]:
flickr_summary_national = flickr_grouped[['PARENT_ISO', 'GIS_AREA', 'Number_of_posts']]

In [58]:
flickr_summary_national

     PARENT_ISO      GIS_AREA    id
0           SWE      1.103257     3
1           SWE     44.472855   409
2           SWE     30.451192    56
3           SWE    104.342382   114
4           SWE     13.767222    58
...         ...           ...   ...
1967        HUN    438.840270   981
1968        POL     76.059005   153
1969        CZE    685.114280   988
1970        TJK  23357.751211  1006
1971        SAU   6492.777231    99

[1972 rows x 3 columns]

In [63]:
flickr_summary_national = flickr_summary_national.groupby(['PARENT_ISO']).sum().reset_index()

In [64]:
flickr_summary_national['post_density_national'] = flickr_summary_national['Number_of_posts']/flickr_summary_national['GIS_AREA']

In [65]:
flickr_summary_national

    PARENT_ISO       GIS_AREA      id  post_density_national
0          ARG   28554.726116   25334               0.887209
1          AUS  279153.482471  152001               0.544507
2          AUT    2302.171226    7239               3.144423
3          AZE    2805.767488      69               0.024592
4          BGR    1901.811289    3275               1.722043
..         ...            ...     ...                    ...
118        VNM   10183.502095   10057               0.987578
119        WSM      47.838253      27               0.564402
120        ZAF   39886.430046   67767               1.698999
121        ZMB   45199.292781    7571               0.167503
122        ZWE   24748.275975    4540               0.183447

[123 rows x 4 columns]

In [68]:
flickr_summary_continent = flickr_grouped[['region_remastered', 'GIS_AREA', 'Number_of_posts']]
flickr_summary_continent = flickr_summary_continent.groupby(['region_remastered']).sum().reset_index()
flickr_summary_continent['post_density_continent'] = flickr_summary_continent['Number_of_posts']/flickr_summary_continent['GIS_AREA']

In [69]:
flickr_summary_continent

,region_remastered,GIS_AREA,id,post_density_continent
0,Australia and New Zealand,3.081848e+05,202328,0.656515
1,Central Asia,3.068466e+04,1258,0.040998
2,Eastern Asia,2.403186e+04,206029,8.573159
3,Europe,1.171553e+06,418039,0.356825
4,Latin America and the Caribbean,6.077551e+05,168278,0.276885
5,Northern Africa,9.318263e+04,10094,0.108325
6,Northern America,4.261974e+05,1054913,2.475175
7,Oceania,6.811240e+01,82,1.203892
8,South-eastern Asia,1.829177e+05,58406,0.319302
9,Southern Asia,7.251431e+04,38157,0.526200
10,Sub-Saharan Africa,5.338905e+05,179750,0.336680
11,Western Asia,1.518454e+04,23312,1.535246

In [70]:
flickr_summary_largecontinent = flickr_grouped[['region_bigger', 'GIS_AREA', 'Number_of_posts']]
flickr_summary_largecontinent = flickr_summary_largecontinent.groupby(['region_bigger']).sum().reset_index()
flickr_summary_largecontinent['post_density_continent'] = flickr_summary_largecontinent['Number_of_posts']/flickr_summary_largecontinent['GIS_AREA']

In [71]:
flickr_summary_largecontinent

,region_bigger,GIS_AREA,id,post_density_continent
0,Africa,6.270731e+05,189844,0.302746
1,Asia,3.253331e+05,327162,1.005622
2,Australia and New Zealand,3.081848e+05,202328,0.656515
3,Europe,1.171553e+06,418039,0.356825
4,Latin America and the Caribbean,6.077551e+05,168278,0.276885
5,Northern America,4.261974e+05,1054913,2.475175
6,Oceania,6.811240e+01,82,1.203892

In [80]:
outfp1 = r"C:\Users\jooel\GISproject\data\flickr_parks_density.csv"
outfp2 = r"C:\Users\jooel\GISproject\data\flickr_national_density.csv"
outfp3 = r"C:\Users\jooel\GISproject\data\flickr_continental_density.csv"
outfp4 = r"C:\Users\jooel\GISproject\data\flickr_larger_continental_density.csv"
flickr_grouped.to_csv(outfp1, encoding='utf-8')
flickr_summary_national.to_csv(outfp2)
flickr_summary_continent.to_csv(outfp3)
flickr_summary_largecontinent.to_csv(outfp4)

# Add country layers
countries_gdf['species'] = None


for index_c, row_c in countries_gdf.iterrows():
    for index_s, row_s in species_group.iterrows():
        if row_c['NAME'] == row_s['NAME']:
            if row_c['species'] == None:
                row_c['species'] = row_s['species'] + ': ' + str(row_s['id'])
            else:
                row_c['species'] = row_c['species'] + ', ' + row_s['species'] + ': ' + str(row_s['id'])
                
    countries_gdf.at[index_c, 'species'] = row_c['species']
            

countries = folium.GeoJson(countries_gdf, name='Countries species',
                           style_function=lambda x: {'color':'red','fillColor':'red','weight':0.5},
                           tooltip=folium.features.GeoJsonTooltip(fields=['NAME', 'species'],
                                                            aliases = ['Country', 'Species'],
                                                            labels=True,
                                                            sticky=False))        
countries.add_to(inter_map)

print(countries_gdf)